/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
}
p {
  margin-left: 30px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

button {
  margin-right: 40px;
  color: #ff0b37;
  border-color: #ff0b37;
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}

@media screen and (max-width: 576px) {
  button {
    margin-top: 20px;
    margin-left: 10px;
  }
}
